---
import { AppConfig } from '@/utils/AppConfig';
import Base from '@/layouts/Base.astro';
import Hero from '@/components/Hero.astro';
import Section from '@/components/Section.astro';
import DataGrid from '@/components/DataGrid.astro';
import BenchmarkDefinitions from '@/components/BenchmarkDefinitions.astro';
import HowToUse from '@/components/HowToUse.astro';

const { title } = AppConfig;
const { description } = AppConfig;

---
<Base head={{ title, description }}>
	<Hero />
	<Section>
		<DataGrid />
		<p class="italic text-right">Last updated: April 13, 2024</p>
	</Section>
	<HowToUse />
	<BenchmarkDefinitions />
</Base>
