---
import Section from './Section.astro';

---

<Section>
	<p class="pb-2 pt-6 text-4xl font-bold">Slow LLMs Suck</p>
	<div class="text-sm">
		<p class="py-2">Apps are only as fast as their slowest component. LLMs vary tremendously on quality and speed. The table below shows the lastest performance metrics for many models and environments. We hope this data helps you choose the most performant model. </p>
		<br />
		<p>Have another model you want us to benchmark? Hit us up with an <a class="underline hover:text-orange-600" href="https://github.com/fixie-ai/fastest.ai/issues" target="_blank">issue on GitHub.</a></p>
	</div>
</Section>


