---
import Section from "./Section.astro";
---

<Section>
  <footer class="text-center">
    Built in Seattle by <a
      class="underline hover:text-orange-600"
      href="https://fixie.ai">🦊 Fixie</a
    >
  </footer>
</Section>
