---
import Section from './Section.astro';
---

<Section>
	<p>The speed of various LLMs varies tremendously. This site provides benchmarks for the top models. Stats are updated daily.</p>
	<p class="mt-4"><a class="underline hover:text-orange-600" href="#definitions">Definitions</a>, <a class="underline hover:text-orange-600" href="#methodology">methodology</a>, and links to <a class="underline hover:text-orange-600" href="#source">source</a> below.</p>

	<br />
	<p>Have another model you want us to benchmark? File an <a class="underline hover:text-orange-600" href="https://github.com/fixie-ai/fastest.ai/issues" target="_blank">issue on GitHub</a>.</p>
</Section>


