---
import Section from './Section.astro';
---

<Section>
	<p>The speed of various LLMs varies tremendously. This site provides benchmarks for the top models. We hope this data will help you choose the best model for your needs!</p>
	<br />
	<p>Have another model you want us to benchmark? Hit us up with an <a class="underline hover:text-orange-600" href="https://github.com/fixie-ai/fastest.ai/issues" target="_blank">issue on GitHub.</a></p>
</Section>


