---
import Section from './Section.astro';
---

<Section>
	<div>
		<p class="font-bold mb-4 text-base">How to Use</p>
		<p>The table below is interactive. You can sort on any column. Further, the hamburger menu (appears when you hover a column header) allows for custom filtering.</p>
	</div>
</Section>