---
import Section from './Section.astro';
---

<Section>
	<div class="text-sm">
		<p class="text-xl font-bold">How to Use</p>
		<br />
		<p>The above table is interactive. You can sort on any column. Further, the hamburger menu (appears when you hover a column header) allows for custom filtering. Have fun exploring!</p>

	</div>
</Section>