---
import Section from './Section.astro';
---

<Section>
	<div class="text-base">
		<p class="text-xl font-bold mb-4">How to Use</p>
		<p>The table below is interactive. You can sort on any column. Further, the hamburger menu (appears when you hover a column header) allows for custom filtering. <a class="underline hover:text-orange-600" href="#definitions">Definitions</a>, <a class="underline hover:text-orange-600" href="#methodology">methodology</a>, and links to <a class="underline hover:text-orange-600" href="#source">source</a> below.</p>
		<br />
		<p>Have fun exploring!</p>
	</div>
</Section>