---
import Section from "./Section.astro";
---

<Section>
  <div>
    <p class="mb-4 text-base font-bold">How to Use</p>
    <p>
      The table below is interactive. You can sort on any column, and the
      hamburger menu (which appears when you hover a column header) allows for
      custom filtering.
    </p>
  </div>
</Section>
