---
import Section from './Section.astro';
---

<Section>
	<div>
		<p id="source" class="text-base font-bold">Source</p>
		<p id="source" class="text-base font-bold mb-4">======</p>
		<p class="py-2"><b>Raw Data: </b>All data is in this public <a class="underline hover:text-orange-600" href="https://storage.googleapis.com/thefastest-data" target="_blank">GCS bucket.</a></p>
		<p class="py-2"><b>Benchmarking Tools: </b>The full test suite is available in the <a class="underline hover:text-orange-600" href="https://github.com/fixie-ai/ai-benchmarks" target="_blank">ai-benchmarks repo.</a></p>
		<p class="py-2"><b>Website: </b>Full source code for this site is on <a class="underline hover:text-orange-600" href="https://github.com/fixie-ai/fastest.ai" target="_blank">GitHub.</a></p>
	</div>
</Section>


